dj-rest-auth
django-allauth
django==4.0
djangorestframework==3.13.1
pytz
djangorestframework-simplejwt
django-cors-headers
drf-yasg
pillow
django-debug-toolbar
django-ckeditor==6.2.0
channels==3.0.4
django-filter==21.1
django-redis
pytz
black
PyJWT==2.3.0
python-dotenv