.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #d0cece;
}

.separator:not(:empty)::before {
    margin-right: 1em;

}

.separator:not(:empty)::after {
    margin-left: 1em;
}
/* Attachments */
.attachments-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: calc(100% + 20px);
    margin-bottom: -30px;
}

.attachment-box {
    display: flex;
    margin: 0 20px 20px 0;
    background-color: #f4f4f4;
    border-radius: 4px 0px 4px 4px;
    font-weight: 600;
    padding: 15px 20px;
    padding-bottom: 45px;
    padding-right: 25px;
    line-height: 24px;
    flex-direction: column;
    color: #666;
    position: relative;
    transition: 0.3s;
    flex: 0 1 calc(50% - 21px);
    cursor: default;
    position: relative;
}

.single-page-section .attachment-box { flex: 0 1 calc(33% - 20px); }
.single-page-section .attachments-container { margin-bottom: -20px; }

a.attachment-box { cursor: pointer; }

.attachment-box:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 20px 20px 0;
    border-style: solid;
    border-color: rgba(0,0,0,0.15) #fff;
    transition: 0.3s;
    border-radius: 0 0 0 4px;
}

a.attachment-box:hover {
    background-color: #66676b;
    color: #fff;
}

a.attachment-box:hover:before { border-color: rgba(0,0,0,0.25) #fff; }

.attachment-box span {
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    flex: auto;
}

.attachment-box i {
    display: block;
    font-style: normal;
    font-size: 14px;
    color: #999;
    font-weight: 500;
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    transition: 0.3s;
}

a.attachment-box:hover i {
    color: rgba(255,255,255,0.7);
}

/* Remove Attachment Button */
.attachment-box .remove-attachment {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    background-color: #dc3139;
    box-shadow: 0 3px 8px rgba(234,65,81,0.15);
    height: 28px;
    width: 28px;
    line-height: 28px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(3px);
}

.attachment-box .remove-attachment:before {
    content: "\e9e4";
    font-family: "Feather-Icons";
}

.attachment-box:hover .remove-attachment {
    opacity: 1;
    transform: translateY(0);
}

/* Chat */

.talk-bubble-left {
    margin: 0px 0px 0px 20px;
    display: inline-block;
    position: relative;
    max-width: 100%;
    height: auto;
    background-color: #2A41E8;
    color:white;
    border-radius: 5px;
}

.talk-bubble-right {
    margin: 0px 20px 0px 0px;
    display: inline-block;
    position: relative;
    max-width: 100%;
    height: auto;
    background-color: #dedddd;
    color:#666666;
    border-radius: 5px;
}

.border{
    border: 8px solid #666;
}

/* Right triangle, left side slightly down */

.tri-right.left-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 15px;
    bottom: auto;
    border: 12px solid;
    border-color: #2A41E8 #2A41E8 transparent transparent;
}

.tri-right.right-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 15px;
    bottom: auto;
    border: 20px solid;
    border-color: #dedddd transparent transparent transparent;
}


/* talk bubble contents */
.talktext{
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
}
.talktext p{
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}