ul li {
  list-style: none;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #d0cece;
}

.separator:not(:empty)::before {
  margin-right: 1em;
}

.separator:not(:empty)::after {
  margin-left: 1em;
}
/* Attachments */
.attachments-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: calc(100% + 20px);
  margin-bottom: -30px;
}

.attachment-box {
  display: flex;
  margin: 0 20px 20px 0;
  background-color: #f4f4f4;
  border-radius: 4px 0px 4px 4px;
  font-weight: 600;
  padding: 15px 20px;
  padding-bottom: 45px;
  padding-right: 25px;
  line-height: 24px;
  flex-direction: column;
  color: #666;
  position: relative;
  transition: 0.3s;
  flex: 0 1 calc(50% - 21px);
  cursor: default;
  position: relative;
}

.single-page-section .attachment-box {
  flex: 0 1 calc(33% - 20px);
}
.single-page-section .attachments-container {
  margin-bottom: -20px;
}

a.attachment-box {
  cursor: pointer;
}

.attachment-box:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 20px 20px 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15) #fff;
  transition: 0.3s;
  border-radius: 0 0 0 4px;
}

a.attachment-box:hover {
  background-color: #66676b;
  color: #fff;
}

a.attachment-box:hover:before {
  border-color: rgba(0, 0, 0, 0.25) #fff;
}

.attachment-box span {
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  flex: auto;
}

.attachment-box i {
  display: block;
  font-style: normal;
  font-size: 14px;
  color: #999;
  font-weight: 500;
  margin-top: 10px;
  position: absolute;
  bottom: 10px;
  transition: 0.3s;
}

a.attachment-box:hover i {
  color: rgba(255, 255, 255, 0.7);
}

/* Remove Attachment Button */
.attachment-box .remove-attachment {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #fff;
  background-color: #dc3139;
  box-shadow: 0 3px 8px rgba(234, 65, 81, 0.15);
  height: 28px;
  width: 28px;
  line-height: 28px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(3px);
}

.attachment-box .remove-attachment:before {
  content: "\e9e4";
  font-family: "Feather-Icons";
}

.attachment-box:hover .remove-attachment {
  opacity: 1;
  transform: translateY(0);
}

/* Chat */

.talk-bubble-left {
  margin: 0px 0px 0px 20px;
  display: inline-block;
  position: relative;
  max-width: 100%;
  height: auto;
  background-color: #2a41e8;
  color: white;
  border-radius: 5px;
}

.talk-bubble-right {
  margin: 0px 20px 0px 0px;
  display: inline-block;
  position: relative;
  max-width: 100%;
  height: auto;
  background-color: #dedddd;
  color: #666666;
  border-radius: 5px;
}

.border {
  border: 8px solid #666;
}

/* Right triangle, left side slightly down */

.tri-right.left-in:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 15px;
  bottom: auto;
  border: 12px solid;
  border-color: #2a41e8 #2a41e8 transparent transparent;
}

.tri-right.right-in:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 15px;
  bottom: auto;
  border: 20px solid;
  border-color: #dedddd transparent transparent transparent;
}

/* talk bubble contents */
.talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}
.talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
.vote {
  position: absolute;
  top: 15%;
  left: -85px;
  width: 56px;
  height: 56px;
}
.thumb {
  font-size: 30px;
  color: #253fe9;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.vote p {
  font-size: 21px;
  font-weight: bolder;
}

/* social icon share start */
.social-share {
  display: flex;
  flex-direction: column;
}

.sbtn {
  height: 57px;
  width: 55px;
  border-radius: 50%;
  box-shadow: 4px 2px 10px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #999;
  cursor: pointer;
  position: relative;
  background: #fff;
  z-index: 100;
  right: 0;
}
.sbtn .fa-share-alt {
  margin-right: 2px;
}
.sbtn > i:hover {
  color: #405de6;
}
.sbtn:active:not(:focus-within) {
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.2) inset;
}
.sbtn:active:not(:focus-within) > i {
  transform: translate(0.8px, 0.8px);
}

.social {
  box-shadow: 4px 2px 10px 1px rgb(0 0 0 / 20%);
  position: absolute;
  top: -70px;
  display: none;
  justify-content: space-between;
  background-color: white;
  padding: 10px 38px;
  border-radius: 50px;
  right: -8px;
}
.toggle input[type="checkbox"]:checked + .sbtn .social {
  animation: fadeIn 1s;
  display: flex;
}
.toggle input[type="checkbox"]:not(:checked) + .sbtn .social {
  animation: fadeOut 1s;
}

.toggle input[type="checkbox"]:checked + .sbtn .fa-share-alt {
  display: none;
}
.toggle input[type="checkbox"]:not(:checked) + .sbtn .fa-times {
  display: none;
}
.social a {
  margin: 0 15px;
  font-size: 32px;
  color: #999 !important;
  text-decoration: none;
}
.social a:before {
  content: "" !important;
  font-weight: normal;
  color: #555555;
  margin-right: 5px;
  vertical-align: middle;
}

.fa-twitter:hover {
  color: rgb(29, 161, 242);
}
.fa-instagram-square:hover {
  background: -webkit-linear-gradient(
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040,
    #f77737,
    #fcaf45,
    #ffdc80
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-vk:hover {
  color: #4c75a3;
}

.fa-behance-square:hover {
  color: black;
}

input[type="checkbox"] {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  .vote {
    position: absolute;
    top: 15%;
    left: -70px;
    width: 56px;
    height: 56px;
  }
}
/* social icon share end */

/* Gallery Grid  Start */

.grid {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-width: 33%;
  -webkit-column-width: 33%;
  padding: 0.12px;
}

.grid .grid-items {
  transition: all 0.35s ease;
  margin-bottom: 15px;
}

@media (max-width: 640px) {
  .grid {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-width: 50%;
    -webkit-column-width: 50%;
    padding: 0.12px;
  }
}
/* Gallery Grid  End */

/* Service Card Start */
.service-bx {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0px;
}
.service-bx .service-details {
  margin: 10px 0px;
}
.service-bx .service-details h5 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.service-bx .service-details span {
  font-weight: 700;
  font-size: 18px;
}
/* Service Card End*/

/* forum post card start */
.caption-box {
  border: 1px solid #cdbfbf;
  padding: 5px;
  text-align: center;
  width: 75%;
  margin: 0 auto;
}
.caption-box .count-box {
  font-family: "Segoe UI";

  font-size: 17px;
  font-weight: bold;
}
.anwser-box {
  color: #fff;
  background-color: #1d46f5;
}
.question-mark {
  color: #0a95ff;
  font-size: 18px;
  font-weight: 400;
}
.simple-anwser {
  color: #232629;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-align: justify;
}
/* forum post end */

/* custom pagation start */
.pagination-container {
  display: flex;
  list-style-type: none;
}
.pagination-container .pagination-item {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  line-height: 1.43;
  font-size: 13px;
  min-width: 32px;
}
.pagination-container .pagination-item.dots:hover {
  background-color: transparent;
  cursor: default;
}
.pagination-container .pagination-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.pagination-container .pagination-item.selected {
  background-color: #1d46f5;
  color: #fff;
}
.pagination-container .pagination-item .arrow::before {
  position: relative;
  /* top: 3pt;
  Uncomment this to lower the icons as requested in comments*/
  content: "";
  /* By using an em scale, the arrows will size with the font */
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid rgba(0, 0, 0, 0.87);
  border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}
.pagination-container .pagination-item .arrow.left {
  transform: rotate(-135deg) translate(-50%);
}
.pagination-container .pagination-item .arrow.right {
  transform: rotate(45deg);
}
.pagination-container .pagination-item.disabled {
  pointer-events: none;
}
.pagination-container .pagination-item.disabled .arrow::before {
  border-right: 0.12em solid rgba(0, 0, 0, 0.43);
  border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}
.pagination-container .pagination-item.disabled:hover {
  background-color: transparent;
  cursor: default;
}

.item-link {
  border: none !important;
}

.item-link:hover {
  border: none !important;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.04) !important;
}

/* custom pagation end */
.custom-grid {
  position: relative;
  /* clear: both; */
  margin-bottom: 10px !important;
  background-color:#fff;
  height: auto !important;
  box-shadow: -1px 4px 12px 0px rgba(0,0,0,0.55);
-webkit-box-shadow: -1px 4px 12px 0px rgba(0,0,0,0.55);
-moz-box-shadow: -1px 4px 12px 0px rgba(0,0,0,0.55);
border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.title-caption{
  
   
    padding: 7px !important;

}
.title-caption .title{
  font-weight: 400;
  font-size: 17px;
  color:#000;
  line-height: 1.2em;
  max-height: 1.2em;
  display: inline-block;
  white-space: nowrap;
  font-family: "Rubik", sans-serif;
  overflow: hidden!important;
  text-overflow: ellipsis;
  max-width: 100%;
  


}
.title-caption .price-caption{
   text-align: right;
    color: #1d46f5;
}
.product_sale {
  position: absolute;
  z-index: 99;
  right: -25px;
  transform: rotate(37deg);
  top: 11px;
}
.product_sale p {
  margin: 0;
    color: #fff;
    background: #1d46f5;
    padding: 4px 49px;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 40%);
}
.ads-img {
  height: 600px;
  width: 100%;
}
.swiper-thumb .swiper-slide {
  width: 100px !important;
}

.ads-details-title{
  font-size:26px;
  line-height:36px;
  
}
.ads-details-info {
  font-size: 13px;
  margin-top: 10px;
  color: #8f8f8f;
}
.ads-info{
  border-top: 1px solid #c9d2d9ab;
  margin-top: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #c9d2d9ab;
  color: #000;
}
.ads-info .info-box{
  

  text-align: center;

  padding: 11px;
 
}
.info-box i{
  font-size:35px;
}
.info-box p{
  margin:0;
  padding:0;
  font-size: 16px;
}
.info-attribute{
  max-width: 365px;
  margin-top: 20px;
}
.info-attribute-box {
  max-width: 180px;
  width: 180px;
  display: inline-block;
  vertical-align: top;
}
.info-attribute-value {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 4px;
}
.info-attribute-key{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  color: #8a9094;
}
.price-tag{
  color:#303a4b;
  font-weight: 7000;
  font-size:30px;
}
.border-top-bottom{
  border-top: 1px solid #c9d2d9ab;
  
  padding: 20px 0 !important;
  border-bottom: 1px solid #c9d2d9ab;
}
.ads-owner-info .owner-img img{
  width: 48px;
  height: auto;
  border-radius: 50px;
}
.ads-owner-info .owner-name{
  color: #303a4b;
  font-size: 16px;
  font-weight: 700;
  margin-left: 10px;
  padding: 0;
  margin: 0;
}
.ads-owner-info .onwer-state{
  min-width: fit-content;
    font-size: 10px;
    line-height: 12px;
}
.saftey-title{
   
    font-size: 18px;
    letter-spacing: .3px;
    color: #252525;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;

}
.saftey-list{
  font-size: 14px;
    line-height: 1.5;
    align-self: flex-start;
}
.saftey-list > li{
  list-style:disc;
}



.image-gallery {
    width: 40%;
    height: auto;
}

.image-gallery-slide img {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
    overflow: hidden;
    object-position: center center;
}

.fullscreen .image-gallery-slide img {
    max-height: 100vh;
}
/* Ads Gird end */
/* Contract Page start */
.content-area{
  padding:0 160px;
 
}
.contract-title{
  font-size:26px;
  line-height: 32px;
Color:#222222;
}
.container-data{
 
  background:#ffffff;
  border: 1px solid #cfcfcf;
  font-family: "Lato", sans-serif;
 
  color:#000;
}
.contract-header{
  border-bottom: 1px solid #cfcfcf;
  padding: 11px 30px;


}
.contract-header h2{
  font-size:20px;
  line-height: 36px;
}
.contract-section{
  border-bottom: 1px solid #cfcfcf;
  padding: 11px 30px;
}
.contract-form  label{
   font-weight: normal;
}
.required-label{
  font-size: 12px;
  margin-left: 12px;
  color: #ad9e9e;
}
.contract-amount{
  font-size:15px;
}
.contract-amount-caption{
  font-size:13px;
}
/* Contract Page end */

/* Ads Post start*/

.ads-sidebar {
  overflow: hidden;
  position: relative;
  border-color: #eeeeee;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  background-color: #fff;
  border: 1px solid #ddd9d9;
}
.ads-sidebar-heading {
  background-color: #fff;
  border-color: #eeeeee;
  border-bottom-color: #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-radius: 0;
  color: #232323;
  padding: 0;
}
.ads-sidebar-heading .panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.ads-sidebar-content {
  border-top-color: #eeeeee;
  background-color: #fff;
  padding: 20px 25px;
  overflow: hidden;
}
.lead {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  font-family: "Lato", sans-serif;
  
}

.ads-sidebar-content ol li {
  margin-bottom: 10px;
  padding-left: 10px;
  position: relative;
}
.post-ads-block .post-ads-title h1{
  font-size:25px;
  padding-bottom:15px;
  border-bottom: 2px solid #1d46f5;
  float:left;
  
} 
.postdetails label {
  color: #232323;
  font-size: 16px;
  font-weight: 600;
}
.submit-form{
  font-family: "Lato", sans-serif;
}
.submit-form label {
	color: #18293b;
}
.submit-form .row {
	margin-top: 25px;
	margin-bottom: 25px;
}
.submit-form .skin-minimal ul.list li {
	margin-top: 10px;
}
.submit-form label {
	display: inline-block;
	font-weight: 600;
	margin-bottom: 5px;
	max-width: 100%;
	font-size: 16px;
}
.submit-form small {
	color: gray;
	padding-left: 10px;
}
.submit-form .form-control {
	background-image: none;
	border: 1px solid #eceff2;
	border-radius: 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #656565;
	display: block;
	font-size: 14px;
	line-height: 1.42857;
	width: 100%;
}


.post-ads-tag .tags-input {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 48px;
  width: 100%;
  padding: 0 8px;
  border: 1px solid #d6d8da;
  border-radius: 6px;
}
.post-ads-tag .tags-input:focus-within {
  border: 1px solid #0052cc;
}
.post-ads-tag .tags-input input {
  flex: 1;
  border: none;
  height: 46px;
  font-size: 14px;
  padding: 4px 0 0 0;
}
.post-ads-tag .tags-input input:focus {
  outline: transparent;
}

.post-ads-tag #tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
}

.post-ads-tag .tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 0 8px 8px 0;
  background: #0052cc;
}
.post-ads-tag .tag .tag-title {
  margin-top: 3px;
}
.post-ads-tag .tag .tag-close-icon {
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 14px;
  margin-left: 8px;
  color: #0052cc;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

@media screen and (max-width: 567px) {
  .post-ads-tag  .tags-input {
    width: calc(100vw - 32px);
  }
}

.pricing-list {
	background-color: #ffffff;
	padding: 15px 20px;
	position: relative;
	border: 1px solid #eceff2;
	border-radius: 0;
	margin-bottom: 20px;
}
.pricing-list h3 {
	font-size: 16px;
	margin: 0;
	padding: 10px 0;
	color: #232323;
}
.pricing-list h4 {
	padding: 10px 0;
}
.pricing-list h4 {
	line-height: 1;
	margin: 10px 0 0;
	font-size: 24px;
	color: #232323;
}
.select-package .row {
	margin: 0;
}
.select-package h3 {
	color: #232323;
	font-weight: 600;
}
.pricing-list-price .btn {
	font-size: 13px;
	line-height: 1;
	padding: 6px;
	text-transform: capitalize;
}
.submit-form .select-package p {
	font-size: 14px;
}
.postdetails .form-group {
	margin-bottom: 40px;
	position: relative;
	overflow: hidden;
}
.selected-product {
	border-bottom: 1px solid #f2f2f2;
	padding: 10px 0 20px;
}
.postdetails label {
	color: #232323;
	font-size: 16px;
	font-weight: 600;
}
.postdetails label span {
	font-size: 14px;
	color: #777;
}
.postdetails .skin-minimal ul.list li {
	float: left;
	padding-right: 30px;
}
.required {
	color: #0056b3;
}
.package-accordion-item{
  border: 1px solid #d9d3d3;
  padding: 0;
  margin-bottom: 6px;
}

.package-accordion-header {
  background-color:#1d46f5;
   cursor:pointer;
}
.package-accordion-header  .acod-title  {
  color:#fff;
}
.package-accordion-body{
  padding: 6px 15px 5px 15px;

}
.button-outline{
  background: none !important;
  border: 2px solid #1d46f5;
  color: #1d46f5 ;

}
.button-outline:hover{
  background:#1d46f5 !important;
  color: #fff;
}
  /* Ads Post end*/