/* Add here all your CSS customizations */
.menu-icon{
    font-size: 45px;
}

.loader {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;

    transition: opacity 0.3s;
    z-index: 1000;
  }
  
  .loader--hide {
    opacity: 0;
  }
  .rangeslider {
    width:240px !important;
  }
  .rangeslider-horizontal .rangeslider__fill {
    background-color: #2A41E8 !important;
  }
  .custom-sort{
    flex: 1;
    position: relative;
    right: 0;
    top: 4px;
    font-weight: 600;
    margin-left: 10px;
    width: auto;
    padding: 0;
    padding-right: 12px;
    background-color: transparent;
    box-shadow: none;
    height: 20px;
    color: #333;
  }
  .my-menu{
    height: 46px;
    width: 46px;
    display: none;
    position: relative;
    margin: 0;
    background-color: #eee;
    border-radius: 4px;
    cursor: pointer;

  }
  @media only screen and (max-width: 1099px) {
    .my-menu{
    display: block;
  
    }

  }
