a{
  text-decoration: none !important;
}

.my-cat{
  position: relative;
  display: inline-block;
  height: 48px;
  line-height: 0;
  padding: 0 20px;
  margin: 0;
  outline: none;
  font-size: 16px;
  color: #808080;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
  font-weight: 500;
  opacity: 1;
  border-radius: 4px;
  border: none;
  box-shadow: 0 1px 4px 0px rgb(0 0 0 / 12%);
}