{% autoescape off%}

<form action="{% url 'set-password' %}" method="POST">

    {% csrf_token %}
    
    <div class="form-group">
        <input class="form-control form-control-sm"
        type="password" name="password1" value="" placeholder="Password">

    </div>
    <div class="form-group">
        <input class="form-control form-control-sm"
         type="password" name="password2" value="" placeholder="Confirm Password">

    </div>

    <input type="submit" value="Submit" class="btn btn-sm btn-block btn-primary"/>

</form>

{% endautoescape %}