{% extends 'marketing/base.html' %}

{% block title %}Login Page{% endblock %}


{% block content %}
<style>


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background: #EEECEB;
}
footer{
  background: #140B5C;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before{
  content: '';
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details{
  color: #fff;
  font-size: 30px;
}
.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: #0F0844;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}


         ::placeholder {
            color: black;
            opacity: 1;
        }


        html {

            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }

        body {

            background-image: url("/static/image/henry-co--odUkx8C2gg-unsplash.jpg");
        }

        .container {
            background: #3c3c42;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            width: 60%;
            box-shadow: -3px -2px 6px #6c6565, 7px 9px 25px #0b0b0b;
            padding-bottom : 30px;
            margin-bottom : 100px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }



        .accept-box {
            display: flex;
            align-items: center;
            margin: auto;
            font-size: 15px;
        }

        a {
            color: white;
        }

        a:hover {
            color: grey
        }

        .form-btns {
            display: flex;
            flex-direction: column;
            padding: 10px 0;
        }

        .form-btns button {
            margin: auto;
            font-size: 20px;
            padding: 8px;
            width: 280px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: rgb(75, 61, 61);
            background: #fbba50;
        }

        .form-btns button:disabled {
            cursor: not-allowed;
            background: #8f8b85 !important;
            color: rgb(131, 120, 120) !important;
        }

        .form-btns button:hover {
            background: #d88a0c;
            color: antiquewhite;
        }

        .options {
            padding-top: 15px;
            margin: auto;
            font-size: 13px;
        }

        p {
            font-size: 12px;
        }

        .pwd-format {
            position: relative;
            color: rgb(65, 62, 62);
            background: rgb(243, 234, 243);
            font-size: 11px;
            width: 150px;
            padding: 5px;
            border-radius: 5px;
            top: 112px;
            right: -81px;
            z-index: 2;
            display: none;
        }

</style>

<div class="col-lg-5 mx-auto mt-5 border rounded pt-4" style="background-color:white; margin-bottom:90px;padding-bottom:50px;">
		<h4 class="alert alert-success border rounded text-center">Please Login Here</h4>
		<form action="" method="POST">
			{% csrf_token %}
			{% if messages %}
			{% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">
                  {{message}}
                </div>
                {% else %}
                <div class="alert alert-success" role="alert">
                  {{message}}
                </div>
                {% endif %}
			{% endfor %}
			{% endif %}
			<div class="form-group">
			    <label for="exampleFormControlInput40">Username</label>
			    <input  type="text"  name="log_username" class="form-control" id="exampleFormControlInput40" placeholder="Username">
			</div>

			<div class="form-group">
			    <label for="exampleFormControlInput50">Password</label>
			    <input  type="password" name="log_password" class="form-control" id="exampleFormControlInput50" placeholder="********">
			</div>

			<div class="form-group">
			    <input class="btn btn-info" type="submit" value="Login">
			</div>


		</form>
	</div>

{% endblock %}



{% block js %}{% endblock %}